.scenario{
    padding-left: 15%;
}
.scenario h3{
    color: #f5f5f5c7;
}
h1{
    color: #f5f5f5c7;

}
.form-div{
    display: flex;
    background-color: #373434d6;
    width: max-content;
    gap: 10rem;
    padding: 6%;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-top: 5%;
}
.input{
    padding: 0.3rem;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 0.5rem;
    outline: none;
}
.label{
    color: #f5f5f5c7;
}
.add{
    background-color: #127f12;
    padding: 0.3rem 1.2rem;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-right: 0.5rem;
}
.reset{
    background-color: #ed6b29;
    padding: 0.3rem 1rem;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-right: 0.5rem;
}
.go-back{
    background-color: #565689;
    padding: 0.2rem 0.4rem;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-right: 0.5rem;
    text-decoration: none;
}